body {
    font-family: Roboto;
}
a {
    text-decoration: none;
}
.top-line {
    background-color: #ffff;
}
/* лого */
.web {
    color: #4D5AE5;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
}
.studio {
color: #2E2F42;
font-size: 18px;
font-family: Raleway;
font-weight: 800;
}
/* навигаційні посилання */
.web-site {
    font-weight: 600;
}
.nav-studio {
    color: #2E2F42;
    font-size: 18px;
}
.nav-portfolio {
    color: #2E2F42;
    font-size: 18px;
}

.nav-contacts {
    color: #2E2F42;
    font-size: 18px;
}
/* контактні дані */
.mail {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
}
.tel {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
}
h1 {
    font-size: 56px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}

.hero {
    background-color:#2E2F42;
    color: #ffffff;
}
/* головна кнопка "замовити послугу" */
button {
    color: #ffffff;
    background-color: #404BBF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
}
/* навігація по сайту */
.nav-studio:hover,
.nav-studio:focus {
    color: #404BBF;
}
.nav-studio:active {
    color: tomato;
}
.nav-portfolio:hover,
.nav-portfolio:focus,
.nav-portfolio:active {
    color: #404BBF;
}
/* заголовки та абзаци */
h2 {
    font-size: 36px;
    font-weight: 700;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}
p {
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    text-align: center;
    letter-spacing: 0.02em;
}
h3 {
    font-size: 20px;
    color: #2E2F42;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.02em;
}
h4 {
    color: #434455;
}
/* подвал */
.footer {
    background-color: #2E2F42;
}
.footer>p {
    color: #E7E9FC;
}
.footer>.studio {
    color: #F4F4FD;
}
/* відміна маркерів */
ul {
    list-style: none;
}
/* портфолио */
.features {
   background-color: #ffffff;
    }
    /* фільтруючі кнопки */
    .filters-button button {
        color: #4D5AE5;
        background-color: #F4F4FD;
    }
    .filters-button button:hover,
    .filters-button button:focus {
        color: #ffffff;
        background-color: #404BBF;
    }