body {
    font-family: Roboto;
}
/* відміна маркерів */
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.top-line {
    background-color: #ffff;
}
/* лого */
.accent-header {
    color: #2E2F42;
}
.accent-footer {
    color: #F4F4FD;
}
.webstudio {
color: #4D5AE5;
font-size: 18px;
font-family: Raleway;
font-weight: 800;
line-height: 1.33;
}
/* навигаційні посилання */
.web-site {
    font-weight: 600;
}
.nav-studio,
.nav-portfolio,
.nav-contacts {
    color: #2E2F42;
    font-size: 18px;
    line-height: 1.5;
}
.nav-studio:hover,
.nav-studio:focus,
.nav-studio:active,
.nav-portfolio:hover,
.nav-portfolio:focus,
.nav-portfolio:active {
    color: #404BBF;
}
/* контактні дані */
.mail {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.tel {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.title {
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.hero {
    background-color:#2E2F42;
    color: #ffffff;
}
/* головна кнопка "замовити послугу" */
button {
    color: #ffffff;
    background-color: #404BBF;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.17;
    font-weight: 600;
}

/* заголовки та абзаци */
.oppo, .team, .clients {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}
.profession,
.app, .marketing, .design, .website, .all  {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #434455;
    text-align: center;
    letter-spacing: 0.02em;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #434455;
}
.name,
.features-desc {
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.02em;
}
.principles {
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    font-weight: 500;
}
/* подвал */
.social-media {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0.02em;
}
.footer {
    background-color: #2E2F42;
}
.footer>p {
    color: #E7E9FC;
}
/* портфолио */
.features {
   background-color: #ffffff;
    }
    /* фільтруючі кнопки */
    .filters-button button {
        color: #4D5AE5;
        background-color: #F4F4FD;
    }
    .filters-button button:hover,
    .filters-button button:focus {
        color: #ffffff;
        background-color: #404BBF;
    }    